* {
    box-sizing: border-box;
}

/* About */
.content-about {
    margin: 2.5rem auto 2.5rem auto;
    max-width: 1126px;
    min-height: 50vh;
    padding: 10px;
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 50px;
}

.about-text {
    padding-left: 30px;
}

/* Contact */
.content-contact {
    padding: 50px;
    margin-top: 90px;
    min-height: 72vh;

}

.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    flex: 1px;
    justify-content: center;
}

.h5-contact {
    line-height: 8px;
    font-size: 13px;
    margin-top: 50px;
}

.p-contact {
    line-height: 0px;
}

#contact {
    flex: 1px;
    padding-top: 50px;
    margin-bottom: 50px;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea, #contact button[type="submit"] { 
    font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

fieldset {
    border: medium none !important;
    margin: 0 0 8px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
    width: 80%;
    border: 1px solid #CCC;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 80px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 80%;
    border: none;
    background: #DCDCDC	;
    color: #878787;
    margin: 0 0 5px;
    padding: 13px;
    font-size: 16px;
    font-weight: bold;
}

#contact button[type="submit"]:hover {
    background: #A9A9A9;
    color: #fff;
    -webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}